/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: yellow;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: green;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: green;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: green;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}
